[submodule "aerospike-client-java"]
	path = aerospike-client-java
	url = https://github.com/haswillb/aerospike-client-java.git
[submodule "aerospike-client-ruby"]
	path = aerospike-client-ruby
	url = https://github.com/haswillb/aerospike-client-ruby.git
