[submodule "aerospike-client-java"]
	path = aerospike-client-java
	url = git@github.com:aerospike/aerospike-client-java.git
[submodule "aerospike-client-ruby"]
	path = aerospike-client-ruby
	url = git@github.com:aerospike/aerospike-client-ruby.git
